<section>
  <!-- Layout -->
  <div class="layout">
    <div class="logo"></div>
    <div class="icon"><a href="#box-search"><i class="fas fa-angle-double-down"></i></a></div>
  </div>

  <!-- Search Title -->
  <div id="box-search" class="box-search" (click)="show = !show">
    <div class="box-title">
      <p>Véhicule</p>
      <div><i class="fas fa-angle-down"></i></div>
    </div>
  </div>

  <!-- Search Box -->
  <div class="box-response" [class.opened]="show">
    <div class="box-dropdown">
      <p>Marque</p>
      <select [(ngModel)]="selectedBrand" id="select-order-by1" class="btn btn-lightgray">
        <option value="">--Rechercher--</option>
        <option class="dropdown-item white" *ngFor="let ad of ads | removeDuplicateBrand | orderBy:'brand'"
          value={{ad.brand}}>
          {{ad.brand}}
        </option>
      </select>
    </div>
    <div class="box-dropdown">
      <p>Modèle</p>
      <select [(ngModel)]="selectedModel" id="select-order-by2" class="btn btn-lightgray">
        <option value="">--Rechercher--</option>
        <!--Le pipe removeDuplicateModel provoque une erreur et fait planter toute l'app-->
        <!--<option class="dropdown-item white" *ngFor="let ad of ads | removeDuplicateModel" value={{ad.model}}>-->
          <!--{{ad.model}}</option>-->
      </select>
    </div>
    <div class="box-dropdown">
      <ng5-slider class="slider" [(value)]="sliderValue" [options]="sliderOptions"></ng5-slider>
    </div>
    <div class="box-dropdown">
      <button class="btn btn-success" (click)="onSubmit()">Valider</button>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="search-bar">
    <div class="input-group md-form form-sm form-2 pl-0">
      <input class="search-input form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Search" />
      <div class="input-group-append">
        <span class="input-group-text" id="basic-text1"><i class="fas fa-search text-grey"
            aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</section>
