<div class="view contactPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">Prénom requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Nom requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email requis</div>
                            <div *ngIf="f.email.errors.email">Email invalide</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message</label>
                        <textarea type="text"
                                  rows="6"
                                  class="form-control"
                                  formControlName="message"
                                  [ngClass]="{ 'is-invalid': submitted && f.message.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                                <div *ngIf="f.message.errors.required">Message requis</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="disabledSubmitButton" class="btn btn-warning">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>