<div class="container">
    <div class="title-box">
      <h1>Gestion des annonces</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia magni obcaecati porro inventore reprehenderit. Repellendus perferendis iure temporibus in obcaecati! Labore minima corrupti nisi natus rem assumenda consequatur perspiciatis id..</p>
    </div>
    
    <table class="table table-bordered grocery-crud-table table-hover">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Localisation</th>
          <th>Télèphone</th>
          <th>E-mail</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Moteur
          </td>
          <td>
              Lyon </td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
          <td>
            <a class="btn btn-primary" style="color: white; margin-right: 12px;" href="admin-edit">Éditer</a>
            <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
          </td>
        </tr>
        <tr>
          <td>
              Moteur
          </td>
          <td>
              Lyon </td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
            <td>
              <a class="btn btn-primary" style="color: white;    margin-right: 12px;" href="admin-edit">Éditer</a>
              <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
            </td>
        </tr>
        <tr>
          <td>
              Moteur
          </td>
          <td>
              Lyon </td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
            <td>
              <a class="btn btn-primary" style="color: white;    margin-right: 12px;" href="admin-edit">Éditer</a>
              <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
            </td>
        </tr>
        <tr>
          <td>
              Moteur
          </td>
          <td>
              Lyon </td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
            <td>
              <a class="btn btn-primary" style="color: white;    margin-right: 12px;" href="admin-edit">Éditer</a>
              <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
            </td>
        </tr>
        <tr>
          <td>
              Moteur
          </td>
          <td>
              Lyon </td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
            <td>
              <a class="btn btn-primary" style="color: white;     margin-right: 12px;" href="admin-edit">Éditer</a>
              <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
            </td>
        </tr>
        <tr>
          <td>
              Moteur
          </td>
          <td>
            Lyon</td>
          <td>
            945010203 </td>
          <td>
            test@mail.com </td>
            <td>
              <a class="btn btn-primary" style="color: white;    margin-right: 12px;" href="admin-edit">Éditer</a>
              <a class="btn btn-danger" style="color: white;" href="">Supprimer</a> 
            </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination pg-blue">
          <li class="page-item"><a class="page-link" mdbWavesEffect>Précédent</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
          <li class="page-item"><a class="page-link" mdbWavesEffect>Suivant</a></li>
        </ul>
      </nav>
    <a class="btn btn-primary btn-nueva" href="edit"><b>+</b> Ajouter une annonce</a>
  </div>