<div class="view overlay zoom">
    <img src="../../assets/img/about.jpg" class="img-fluid " alt="zoom">
    <div class="mask flex-center waves-effect waves-light">
        <div class="container">
        <div class="row">
            <div class="col-smc mask flex-center rgba-orange-slight">
            <p class="white-text h3">We are MotoBox</p>
            </div>
        </div>
        </div>
    </div>
</div>


<div class="row" style="margin: 5vw 10vw 0vw 10vw">

    <div class="col-lg-5 mb-lg-0 mb-5">
        <img src="../../assets/img/about-card-1.jpg" alt="Sample project image" class="img-fluid z-depth-1">
    </div>

    <div class="col-lg-7">
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">UNE COMMUNAUTÉ UNIE AUTOUR D'UNE PASSION</h5>
            <p>C'est aussi une communauté de motards qui partagent infos, bons plans et essais autour de la moto et de l'équipement du motard.</p>
            <p class="grey-text">Rendez-vous sur #EnjoyTheRide pour découvrir les dernières publications et nous suivre sur les réseaux sociaux. Mieux : pourquoi ne pas devenir contributeur?</p>
            <p>Découvrir #EnjoyTheRide !</p>
        </div>
    </div>
</div>

<div class="row" style="margin: 5vw 10vw">
    <div class="col-lg-7">
        <div class="col-md-11 col-10">
            <h5 class="font-weight-bold mb-3">UN CHOIX DE MARQUES LARGE COMME UN PNEU DE 280</h5>
            <p>Pour vous accompagner dans votre passion, on fait notre possible pour référencer toutes les marques les plus en vue du moment - 399 à ce jour !</p>
            <p class="grey-text">Parmi les dernières marques dispo sur MotoBox : Klim / Kriega / Cosmo Connected / Nexx / Richa...</p>
            <p class="grey-text">Sans oublier les produits mis au point en interne par notre équipe de développement composée d'experts produit. Vous nous en direz des nouvelles !</p>
            <p>Découvrir nos marques !</p>
        </div>
    </div>

    <div class="col-lg-5 mb-lg-0 mb-5">
        <img src="../../assets/img/about-card-2.jpg" alt="Sample project image" class="img-fluid z-depth-1">
    </div>
</div>
    
