<div class="text-center buttons amber accent-2">
  <div class="modal-header text-center border-0">
    <h4 class="modal-title w-100 font-weight-bold">Bienvenu a la casse de Gerard !</h4>
  </div>

  <div class="modal-body mx-3 border-0">
    <button type="button"
            mdbBtn
            class="success-color"
            rounded="true"
            (click)="login.show(getLoginForm())"
            mdbWavesEffect>Connexion
    </button>

    <button type="button"
            mdbBtn
            class="elegant-color-dark btn2"
            rounded="true"
            (click)="signin.show(getSigninForm())"
            mdbWavesEffect>Enregistrement
    </button>
  </div>
  <div class="modal-footer d-flex justify-content-center border-0">
    <p>Veuillez vous enregistrer ou vous connecter.</p>
  </div>
</div>


<!--//////////////////////////////////////////////////////////-->
<!--///////////////////////// LOGIN //////////////////////////-->
<!--//////////////////////////////////////////////////////////-->


<div mdbModal #login="mdbModal"
     class="modal fade left"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <div *ngIf="isLogin" class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center amber accent-2 py-2">
        <h4 class="modal-title w-100 font-weight-bold">Connexion</h4>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="login.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mx-3">
        <form *ngIf="form"
              [formGroup]="form"
              (ngSubmit)="submit()"
              method="POST"
              novalidate>

          <!--Email-->
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email"
                   class="form-control validate"
                   formControlName="email"
                   mdbInput>
            <label data-error="wrong" data-success="right">Email</label>
          </div>

          <!--Password-->
          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password"
                   class="form-control validate"
                   formControlName="password"
                   mdbInput>
            <label data-error="wrong" data-success="right">Password</label>
          </div>

          <!--Submit button-->
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit"
                    class="waves-light amber accent-2 black-text"
                    mdbBtn
                    [disabled]="!form.valid || loading"
                    mdbWavesEffect>
              <span *ngIf="loading" class="fa fa-spin fa-spinner"></span>
              Se connecter
            </button>
          </div>

        </form>
      </div>

      <hr/>
      <pre>Form: {{ form?.value | json }}</pre>
    </div>
  </div>
</div>


<!--//////////////////////////////////////////////////////////-->
<!--///////////////////////// SIGNIN /////////////////////////-->
<!--//////////////////////////////////////////////////////////-->


<div mdbModal #signin="mdbModal"
     class="modal fade left"
     id="frameModalTop"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">

  <div *ngIf="!isLogin" class="modal-dialog" role="document">

    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center amber accent-2">
        <h4 class="modal-title w-100 font-weight-bold">Enregistrement</h4>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close"
                (click)="signin.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mx-3">
        <form [formGroup]="form"
              action=""
              (ngSubmit)="submit(user)"
              method="POST"
              id="addtodo-form"
              novalidate>

          <!--Name-->
          <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-name"
                   class="form-control validate"
                   formControlName="firstName"
                   mdbInput>
            <label data-error="wrong" data-success="right"
                   for="orangeForm-name">Your name</label>
          </div>

          <!--Email-->
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-email"
                   class="form-control validate"
                   formControlName="email"
                   mdbInput>
            <label data-error="wrong" data-success="right"
                   for="orangeForm-email">Your email</label>
          </div>

          <!--Password-->
          <div class="md-form mb-4">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="orangeForm-pass"
                   class="form-control validate"
                   formControlName="password"
                   mdbInput>
            <label data-error="wrong" data-success="right"
                   for="orangeForm-pass">Your password</label>
          </div>

          <!--Submit button-->
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit"
                    class="waves-light amber accent-2 black-text"
                    mdbBtn
                    [disabled]="!form.valid || loading"
                    mdbWavesEffect>
              <span *ngIf="loading" class="fa fa-spin fa-spinner"></span>
              Enregistrer
            </button>
          </div>
        </form>
      </div>

      <hr/>
      <pre>Form: {{ form?.value | json }}</pre>
    </div>
  </div>
</div>
