<div>
  <nav class="mb-1 navbar navbar-expand-lg navbar-dark amber accent-2">

    <img src="../../assets/logo/motobox-logo.svg"
         alt="Salem Auto Sales"
         class="mr-4"
         height="40" width="140"
         routerLink="/"
         routerLinkActive="active">
    <form class="form-inline my-1 mr-5">
      <div class="md-form form-sm my-0">
        <input class="form-control form-control-sm mr-sm-2 mb-0"
               type="text"
               placeholder="Search"
               aria-label="Search">
        <mdb-icon fas icon="search black-text"></mdb-icon>
      </div>
    </form>

    <div class="collapse navbar-collapse"
         id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link black-text" href="#">
            <strong>Faire adopter une piece</strong>
            <i class="fas fa-bug fa-1x black-text pr-3 ml-2"
               aria-hidden="true"></i>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link black-text" href="panier">Panier</a>
        </li>

        <li class="nav-item">
          <a class="nav-link black-text" (click)="openLoginSigninModal()">Connexion</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             aria-haspopup="true"
             aria-expanded="false">
            <mdb-icon fas icon="user-ninja black-text">
              <a class="nav-link black-text" href="#">Connexion</a>
            </mdb-icon>
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>
