<!-- ========= PERSONAL ========= -->
<personal-form (add)="pushValueToParent($event)"
               (isValid)="pushStateToParent($event)">
</personal-form>

<!-- ========= CONTACTS ========= -->
<!--<contact-form (add)="pushValueToParent($event)"-->
<!--(isValid)="pushStateToParent($event)">-->
<!--</contact-form>-->

<!-- ========= ROLE ========= -->
<!--isJunkyard-->
<!--<role-form (add)="pushValueToParent($event)"-->
<!--(isValid)="pushStateToParent($event)">-->
<!--</role-form>-->

<!-- ========= ADDRESS ========= -->
<!--<div *ngIf="isJunkyard">-->
<!--<address-form (add)="pushValueToParent($event)"-->
<!--(isValid)="pushStateToParent($event)">-->
<!--</address-form>-->
<!--</div>-->

<!-- ========= PASSWORD ========= -->
<!--<password-form (add)="pushValueToParent($event)"-->
<!--(isValid)="pushStateToParent($event)">-->
<!--</password-form>-->
