<!-- ========= ROLE ========= -->
<role-form (add)="setValue($event)"></role-form>

<mat-horizontal-stepper [linear]="false" #stepper>
  <!--STEP 1-->
  <mat-step>
      <ng-template matStepLabel matStepperIcon="edit">Nom</ng-template>
      <!-- ========= PERSONAL ========= -->
      <personal-form (add)="setValue($event)"
                     (isValid)="setButtonState($event, 'personal')">
      </personal-form>
      <div class="button">
        <button mat-raised-button
                [disabled]="!valid.personal"
                matStepperNext
                color="accent">Suivant
        </button>
      </div>
  </mat-step>

  <!--STEP 2-->
  <mat-step>
      <ng-template matStepLabel>Contact</ng-template>
      <!-- ========= CONTACTS ========= -->
      <contact-form (add)="setValue($event)"
                    (isValid)="setButtonState($event, 'contact')">
      </contact-form>
      <div class="button">
        <button mat-raised-button
                matStepperPrevious>Precedent
        </button>
        <button mat-raised-button
                [disabled]="!valid.contact"
                matStepperNext
                color="accent">Suivant
        </button>
      </div>
  </mat-step>

  <!--STEP 3-->
  <mat-step *ngIf="form?.isJunkyard">
      <ng-template matStepLabel>Addresse</ng-template>
      <!-- ========= ADDRESS ========= -->
        <address-form (add)="setValue($event)"
                      (isValid)="setButtonState($event, 'address')">
        </address-form>
      <div class="button">
        <button mat-raised-button
                matStepperPrevious>Precedent
        </button>
        <button mat-raised-button
                [disabled]="!valid.address"
                matStepperNext color="accent">Suivant
        </button>
      </div>
  </mat-step>

  <!--STEP 4-->
  <mat-step>
      <ng-template matStepLabel>Password</ng-template>
      <!-- ========= PASSWORD ========= -->
      <password-form (add)="setValue($event)"
                     (isValid)="setButtonState($event, 'password')">
      </password-form>
      <div class="button">
        <button mat-raised-button
                matStepperPrevious>Precedent
        </button>
        <button mat-raised-button
                [disabled]="!valid.form"
                (click)="submitForm()"
                color="primary">Envoyer
        </button>
      </div>
  </mat-step>
</mat-horizontal-stepper>
