<div class="container">
  <div *ngIf="ads?.length === 0" class="mt-5">
    <span>Le panier est vide</span>
  </div>

  <div *ngIf="ads?.length > 0" class="mt-5 mb-5">
    <table class="table table-hover">
      <thead>
      <tr class="row text-center">
        <th class="col-sm-3"></th>
        <th class="col-sm-6" rowspan="2">Description</th>
        <th class="col-sm-1">Prix</th>
        <th class="col-sm-2">Retirer du panier</th>
      </tr>
      </thead>
      <tbody>
      <app-table-body *ngFor="let ad of ads"
                      (removeAd)="removeAd($event)"
                      [ad]="ad">
      </app-table-body>
      </tbody>
    </table>
  </div>
</div>
