
<h1>Panier</h1>
<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Produits</label>
    <label class="product-price">Prix</label>
    <label class="product-quantity">Quantité</label>
    <label class="product-removal">Retirer</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="https://www.moteur-diesel-marin-craftsman.fr/Files/111760/Img/04/moteur-diesel-marin-inboard-craftsman-marine-CM-16-cv-zoom.png">
    </div>
    <div class="product-details">
      <div class="product-title">Moteur</div>
      <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sapiente odio animi quas adipisci optio. Repellendus tenetur corporis dicta corrupti quidem natus sint eveniet? Deleniti tempora rerum alias suscipit ratione?</p>
    </div>
    <div class="product-price">12.99</div>
    <div class="product-quantity">
      <input type="number" value="2" min="1">
    </div>
    <div class="product-removal">
      <button class="btn btn-danger">
        Retirer
      </button>
    </div>
    <div class="product-line-price">25.98</div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="https://www.challenges.fr/assets/img/2018/02/19/cover-r4x3w1000-5a8affab02a71-1-3l-tce.jpg">
    </div>
    <div class="product-details">
      <div class="product-title">Moteur</div>
      <p class="product-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora ducimus sequi sunt quibusdam odio voluptate ratione! Deserunt, quas sed id dignissimos, iste mollitia labore perferendis sequi libero rerum eum expedita.</p>
    </div>
    <div class="product-price">45.99</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="btn btn-danger">
        Retirer
      </button>
    </div>
    <div class="product-line-price">45.99</div>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Sous-total</label>
      <div class="totals-value" id="cart-subtotal">71.97</div>
    </div>
<div class="totals-item">
  <label>Taxe (5%)</label>
  <div class="totals-value" id="cart-tax">3.60</div>
</div>
<div class="totals-item totals-item-total">
  <label>Total</label>
  <div class="totals-value" id="cart-total">90.57</div>
</div>
</div>

<button class="btn btn-success">Valider</button>

</div>
