<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4"><a href="about">QUI SOMMES NOUS ?</a></h5>
        <ul class="list-unstyled">
          <li>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PLAN DU SITE</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Connexion</a>
          </li>
          <li>
            <a href="#!">Inscription</a>
          </li>
          <li>
            <a href="#!">Panier</a>
          </li>
          <li>
            <a href="#!">Admin</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">0789567382</a>
          </li>
          <li>
            <a href="#!">salem-auto@casse.com</a>
          </li>
          <li>
            <a href="#!">6 rue du Ragondin,</a>
          </li>
          <li>
            <a href="#!">34127 La Bite a Dudule</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">MENTIONS LEGALES</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Droits informatique et liberte</a>
          </li>
          <li>
            <a href="#!">Conditions generale</a>
          </li>
          <li>
            <a href="#!">Lorem absurde</a>
          </li>
          <li>
            <a href="#!">Bernard Lama</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright :
    <a href="https://mdbootstrap.com/education/bootstrap/"> SuperCasse.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
