<form [formGroup]="addressForm"
      action=""
      (ngSubmit)="onSubmit()"
      method="POST"
      novalidate>

  <div class="row mt-5">
  <!--Street-->
  <div class="md-form col-sm-6 m-0">
    <i class="fas fa-road prefix grey-text"></i>
    <input type="text"
           class="form-control validate mb-3"
           formControlName="street"
           mdbInput>
    <label data-error="wrong" data-success="right" class="pl-3">Rue</label>
  </div>
  <!--Postal Code-->
  <div class="md-form col-sm-6 m-0">
    <i class="fas fa-map-marked-alt prefix grey-text"></i>
    <input type="text"
           class="form-control validate mb-3"
           formControlName="postalCode"
           mdbInput>
    <label data-error="wrong" data-success="right" class="pl-3">Code Postal</label>
  </div>
  <!--////////////// errors ////////////////-->
  <div *ngIf="street.touched && street.invalid" class="alert alert-danger">
    <div *ngIf="street.hasError('required')">La rue est requise : entrez une adresse valide.</div>
  </div>
  <div *ngIf="postalCode.touched && postalCode.invalid" class="alert alert-danger">
    <div *ngIf="postalCode.hasError('required')">Le code postal est requis : entrez un code postal valide.
    </div>
    <div *ngIf="postalCode.hasError('pattern')">Le code postal doit avoir 5 chiffres.</div>
  </div>
  <!--//////////////////////////////////////-->
</div>

<div class="row mt-5">
  <!--City-->
  <div class="md-form col-sm-6 m-0">
    <i class="fas fa-country prefix grey-text"></i>
    <input type="text"
           class="form-control validate mb-3"
           formControlName="city"
           mdbInput>
    <label data-error="wrong" data-success="right" class="pl-3">Ville</label>
  </div>
  <!--Country-->
  <div class="md-form col-sm-6 m-0">
    <i class="fas fa-globe-europe prefix grey-text"></i>
    <input type="text"
           class="form-control validate mb-3"
           formControlName="country"
           mdbInput>
    <label data-error="wrong" data-success="right" class="pl-3">Pays</label>
  </div>
  <!--////////////// errors ////////////////-->
  <div *ngIf="city.touched && city.invalid" class="alert alert-danger">
    <div *ngIf="city.hasError('required')">La ville est requise : entrez un nom de ville valide.</div>
  </div>
  <div *ngIf="country.touched && country.invalid" class="alert alert-danger">
    <div *ngIf="country.hasError('required')">Le pays est requis : entrez un pays valide.</div>
  </div>
  <!--//////////////////////////////////////-->
</div>

  <!--Submit button-->
  <div class="modal-footer d-flex justify-content-center border-0">
    <button type="submit"
            class="waves-light amber accent-2 black-text"
            mdbBtn
            [disabled]="!addressForm.valid || loading"
            mdbWavesEffect>
      <span *ngIf="loading" class="fa fa-spin fa-spinner"></span>
      Next
    </button>
  </div>
</form>
